
@media (min-width: 768px){
.navbar-nav {
    float: left;
    margin: 6px;
}
}


.dropdown
{
	 font-family: 'Amatic SC', cursive;
	 font-size:25px;
}
li
{
	 font-family: 'Amatic SC', cursive;
	 font-size:25px;
}
h1 {
    font-family: 'Amatic SC', cursive;

}

body
{
    background-color:#cdcdd2;
}

ul.nav a:hover 
{ 
    color: #FFFFFF !important;
}

.navbar 
{ 
  min-height: 68px; // your value here.
  margin-bottom : 0px !important;
}

@media (min-width: 768px) {
    .navbar-ex1-collapse {
        padding-left: 330;
    }
}

html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
 #landing {
            width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('img/IMAG0360.jpg');
            background-size:100% 100%;
            background-repeat: no-repeat;
        }

#macbookpro{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    top:-20px;
    position: relative; 
    width: 100%; /* for IE 6 */
}
.sale
{
	font-family: "Arial", Times, serif;
	font-size: 80px;
	text-align: center;
	position:absolute;
	top: 200px; 
   	left: 0; 
   	width: 100%;
   	color:white;
   	font-family: "Amatic SC";
}


h1{ 
	position:absolute;
	top: 200px; 
   	left: 0; 
   	width: 100%; 
   	color: white; 
   	font: bold 24px/45px Helvetica, Sans-Serif; 
   	letter-spacing: -1px;  
   	
}


@media (min-width: 768px) and (max-width: 797px){
    .sale
    {
    	font-size:60px;
    }
}

@media (max-width: 766px){
    .sale
    {
    	font-size:60px;
    	top: 500px;
    }
}